<strong>
  P: <span data-defer-to="<%= view.defer_key %>-processed"></span>
  F: <span data-defer-to="<%= view.defer_key %>-failed"></span>
  E: <span data-defer-to="<%= view.defer_key %>-enqueued"></span>
</strong> sidekiq
